@{
    ViewData["Title"] = "API Info";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div>
    <b> Study1001 </b>@ViewBag.Study1
    <br />

    <b> Study1002 </b>@ViewBag.Study2
    <br />

    <b> Study1003 </b>@ViewBag.Study3
    <br />

    <b> Study1004 </b>@ViewBag.Study4
    <br />

    <b> Study1005 </b>@ViewBag.Study5
    <br />

    <b> Study1006 </b>@ViewBag.Study6
    <br />
        
</div>
